.landing-container {
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #f7f8fc;
  line-height: 1.6;
}

.hero {
  background:
    linear-gradient(135deg, rgba(123, 97, 255, 0.85), rgba(147, 112, 255, 0.85)),
    url("../assets/landingImg.png");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 10rem;
  margin-bottom: 10px;
  font-family: "Workbench", sans-serif;
}

.hero p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.btn-primary {
  background: white;
  color: var(--color-primary);
  border: none;
  padding: 12px 28px;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: #ece6ff;
}

.about {
  max-width: 900px;
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
}

.about h2 {
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 15px;
}

.features {
  background: white;
  padding: 60px 20px;
  text-align: center;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.feature-card {
  background: #f0efff;
  padding: 25px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.mockup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.mockup {
  animation: float 4s ease-in-out infinite;
  width: 700px;
  padding: 10px;
}

.mockup img {
  width: 100%;
  border-radius: 10px;
  display: block;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.cta {
  background: linear-gradient(135deg, var(--color-primary), #9370ff);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.btn-secondary {
  background: white;
  color: var(--color-primary);
  border: none;
  padding: 14px 32px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-secondary:hover {
  background: #ece6ff;
}

.footer {
  background: #1e1e1e;
  color: #aaa;
  text-align: center;
  padding: 20px 10px;
  font-size: 0.9rem;
}

@media (max-width:900px) {
  .hero {
    background-size: inherit
  }
}

@media (max-width:500px) {
  .hero h1 {
    font-size: 4rem;
  }
}