.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at 30% 30%, #fdf6f0, #f5ece5);
  color: #333;
  font-family: "Inter", sans-serif;
  gap: 15px;
  z-index: 2;
  position: fixed;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #7b61ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  filter: drop-shadow(0 0 8px rgba(226, 109, 92, 0.4));
}

.loading-text {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  color: #444;
}

/* Animaciones */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

