.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000b8;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container  body {
  overflow: hidden;
}

.modal-card {
  background: white;
  color: black;
  padding: 30px;
  font-size: 28px;
  border-radius: 20px;
}

.modal-card-actions {
  display: flex;
  justify-content: space-around;
}

.modal-card-actions button {
  padding: 10px 20px;
  background-color: #d42e95;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.modal-card-actions button:nth-child(2) {
  background-color: #5d5d5d;
}

.modal-card-actions button:hover:nth-child(1) {
  background-color: #771953;
}

.modal-card-actions button:hover:nth-child(2) {
  background-color: #262626;
}