.form-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top:40px ;
}

@media (max-width: 700px) {
  .form-container {
    gap:500px;
  }
  .modal-actions {
    justify-content: space-around;
  }
  .form-container-name {
    text-align: center;
    margin: 0 auto;
  }
}

