.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000b8;
  backdrop-filter: blur(10px);
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container body {
  overflow: hidden !important;
}

.modal-card {
  background: white;
  color: black;
  padding: 30px;
  font-size: 28px;
  border-radius: 20px;
}

.btn-content {
  display: flex;
  justify-content: end;
}

.btn-X {
  color: #5d5d5d;
  background-color: #fff;
  border: none;
  height: 40px;
  cursor: pointer;
}