.modal-card-actions {
  display: flex;
  justify-content: space-around;
}

.modal-card-actions button {
  padding: 10px 20px;
  background-color: #d42e95;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.modal-card-actions button:nth-child(2) {
  background-color: #5d5d5d;
}

.modal-card-actions button:hover:nth-child(1) {
  background-color: #771953;
}

.modal-card-actions button:hover:nth-child(2) {
  background-color: #262626;
}