.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000b8;
  backdrop-filter: blur(10px);
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container body {
  overflow: hidden !important;
}

.modal-card {
  background: white;
  color: black;
  padding: 30px;
  font-size: 28px;
  border-radius: 20px;
}

.btn-content {
  display: flex;
  justify-content: end;
}

.btn-X {
  color: var(--color-primary);
  background-color: #fff;
  border: none;
  height: 50px;
  cursor: pointer;
}

.btn-X  svg {
  width: 40px;
  height: 40px;
  transition: all ease-in-out 250ms;
}

.btn-X svg:hover {
  transform: scale(1.3) rotate(90deg);
}

@media (max-width: 700px) {
  .modal-card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
  }
}