.form-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top:40px ;
}


