.not-Found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 15px 15px 15px;
}

.not-fount-text {
  font-size:40px;
  opacity: 0.5;
}