.not-notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  font-size: 30px;
}

.not-notes-text {
  text-align: center;
}

@media (max-width:500px) {
  .not-notes-img {
    width: 100%;
  }
}