.not-found-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  height: 100vh;
}

.not-found-404 button {
  font-size: 20px;
  border-radius: 20px;
  padding:10px;
  background-color: #53d9e5;
  color: black;
  border: none;
}

.not-found-404 button:hover {
  background-color: #43b0ba;
  cursor: pointer;
}