.popover-container {
  padding: 10px;
  background-color: #fff;
  position: absolute;
  border-radius: 20px;
  z-index: 3;
  bottom: -35px;
  right: 10px;
  border: 1px solid #8c8c8c;
  width: 86%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-15px) scale(0.95);
  pointer-events: none;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.4, 1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.btn-circle {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-not-color {
  padding: 0px;
  background: no-repeat;
  color: black;
  padding-top: 3px;
}

.btn-color:hover {
  transform: scale(1.2);
  transition: all ease-in-out 100ms;
  border: 1px solid #aeaeae;
}

.btn-color-selection {
  transform: scale(1.2);
    transition: all ease-in-out 100ms;
    border: 1px solid #aeaeae;
}

.loading-container-color {
    position: absolute;
    bottom: -35px;
    width: 87%;
    left: 26px;
    background-color: rgb(0 0 0 / 71%);
    z-index: 5;
    border-radius: 20px;
    text-align: center;
}

.loading-container-color .loading-color {
  animation: spin 1s linear infinite;
  width: 30px;
  padding: 11px;
}