.ql-font-arial {
  font-family: Arial, sans-serif;
}

.ql-font-courier\ new {
  font-family: 'Courier New', monospace;
}

.ql-font-georgia {
  font-family: Georgia, serif;
}


.ql-toolbar.ql-snow+.ql-container.ql-snow {
  border-top: 0;
  height:69.5vh;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="arial"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="arial"]::before {
  content: "Arial";
  font-family: "Arial", sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="courier-new"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="courier-new"]::before {
  content: "Courier New";
  font-family: "Courier New", monospace;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="georgia"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="georgia"]::before {
  content: "Georgia";
  font-family: "Georgia", serif;
}

.ql-editor p {
  margin: 10px 0px;
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: 15px 0;
}

/* Checkbox sin marcar */
.ql-editor li[data-list="unchecked"]>.ql-ui::before {
  content: "⬜";
  color: #999;
  font-size: 18px;
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

/* Checkbox marcado */
.ql-editor li[data-list="checked"]>.ql-ui::before {
  content: "✅";
  color: #7b61ff;
  /* tu color principal */
  font-size: 18px;
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

/* Ajustar alineación general */
.ql-editor li[data-list] {
  list-style: none;
  margin-left: 1.5em;
  position: relative;
}

/* video*/
.ql-editor .ql-video {
  width: 669px;
    height: 381px;
  display: inline-block;
}