/* .editor-wrapper {
  width: 100%;
}

/* Toolbar */
.editor-toolbar {
  background: #fff;
  position: relative;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.editor-toolbar .left,
.editor-toolbar .right {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}


.editor-toolbar button {
  background: none;
  color: black;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor-toolbar button svg {
  width: 16px;
  height: 16px;
}

.editor-toolbar button:hover {
  background: #c4e3ff;
}

.editor-toolbar button.active {
  background: #0e8eff;
  color: #fff;
}

.editor-toolbar .btnGuardar {
  background: #0e8eff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
}

.editor-toolbar .btnGuardar:hover {
  background: #007ae6;
}

.menu-color-container {
  position: relativo!important;
}
.menu-color-container .menu-colors-float {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 200px;
  background: white;
  padding: 13px;
  border: 1px solid #e7e7e7;
  border-radius: 14px;
  top: 40px;
  right: 20%;
}

.menu-color-container .menu-colors-float button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}


/* Editor Content */


.tiptap {
  white-space: pre-wrap;
  padding: 20px;
  background: #fff;
  z-index: 0;
  color: black;
}

.tiptap:focus-visible {
  outline: -webkit-focus-ring-color auto 0;
}

.tiptap img {
  width: 80%;
}

.tiptap :first-child {
  margin-top: 0;
}

.tiptap pre {
  background: rgb(11, 9, 30)!important;
  border-radius: 0.5rem;
  color: white!important;
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  overflow: scroll;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* Code styling */
.tiptap pre .hljs-comment,
.tiptap pre .hljs-quote {
  color: #616161;
}

.tiptap pre .hljs-variable,
.tiptap pre .hljs-template-variable,
.tiptap pre .hljs-attribute,
.tiptap pre .hljs-tag,
.tiptap pre .hljs-regexp,
.tiptap pre .hljs-link,
.tiptap pre .hljs-name,
.tiptap pre .hljs-selector-id,
.tiptap pre .hljs-selector-class {
  color: #f98181;
}

.tiptap pre .hljs-number,
.tiptap pre .hljs-meta,
.tiptap pre .hljs-built_in,
.tiptap pre .hljs-builtin-name,
.tiptap pre .hljs-literal,
.tiptap pre .hljs-type,
.tiptap pre .hljs-params {
  color: #fbbc88;
}

.tiptap pre .hljs-string,
.tiptap pre .hljs-symbol,
.tiptap pre .hljs-bullet {
  color: #c9c618;
}

.tiptap pre .hljs-title,
.tiptap pre .hljs-section {
  color: #faf594;
}

.tiptap pre .hljs-keyword,
.tiptap pre .hljs-selector-tag {
  color: #70cff8;
}

.tiptap pre .hljs-emphasis {
  font-style: italic;
}

.tiptap pre .hljs-strong {
  font-weight: 700;
} 

.editor-content {
  overflow-y: scroll;
  height: 65vh; 
  min-height: 150px;
  padding: 1rem;
  outline: none;
}

.editor-content.is-editor-empty::before {
  content: attr(data-placeholder);
  color: #888;
  pointer-events: none;
  height: 0;
  float: left;
} 

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #888;
  float: left;
  height: 0;
  pointer-events: none;
}