:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1E1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


 blockquote {
  position: relative;
  padding-left: 1em;
  padding-top: .375em;
  padding-bottom: .375em;
  margin: 1.5rem 0;
}

 blockquote::before {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: .25em;
  background-color: black;
  content: "";
  border-radius: 0;
}

 ul[data-type="taskList"] li:not(:has(>p:first-child)) {
  list-style-type: none;
}

 ul[data-type="taskList"] li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

 ul[data-type="taskList"] li label {
  position: relative;
  padding-top: .375rem;
  padding-right: .5rem;
}

 input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

 input[type="checkbox"]:checked {
  background-color: #4f46e5;
  border-color: #4f46e5;
}

 input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(51deg);
}

[contenteditable="false"] {
  white-space: normal;
}

ul[data-type="taskList"] li[data-checked="true"]>div>p {
  opacity: .5;
  text-decoration: line-through;
}

pre {
  background: rgb(11, 9, 30) !important;
  border-radius: 0.5rem;
  color: white !important;
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* Code styling */
pre .hljs-comment,
pre .hljs-quote {
  color: #616161;
}