:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --background-color: #121212;
  --text-color: #ffffff;
  --color-primary:#7b61ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* cuando el tema sea claro */
[data-theme="light"] {
  --background-color: #f9f9f9;
  --text-color: #1a1a1a;
}

/* aplica los colores a toda la app */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


.title {
  color:var(--color-primary);
  margin: 20px;
}

.txt {
  color: #403382;
}

.error-message {
  color: rgb(233, 117, 117);
  font-size: medium;
}

.btn {
  background: var(--color-primary);
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover:nth-child(1) {
  background-color: #4f3ea3;
}

.btn:nth-child(2) {
  background-color: #5d5d5d;
}
.btn:hover:nth-child(2) {
  background-color: #262626;

}

.FRM-label {
  color: #3d307e5f;
}

.FRM-input {
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 30px;
  background-color: rgb(228, 228, 228);
  padding: 5px;
  color: #130944;
  outline: none;
}

.FRM-input:focus-visible {
  border-color: var(--color-primary);
}

@media (max-width: 700px) {
  .FRM-input {
    width: 100%;
  }
}